.sortable-section {
    width: 500px;
    float: left;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    background-color: #ffc1c5;
}

.item {
    padding: 5px 15px 5px 15px;
}

.item-header {
    position: relative;
    border-color: black;
}

.item-placeholder {
    border: 1px dotted black;
    height: 25px;
}

.action-buttons {
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -10px;
}

/*.item-toggle {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    right: 0;*/
/*    margin-top: -8px;*/
/*}*/

.connectedSortable {
     min-height: 25px !important;
}

.section-level-0 {background-color: #c0ffa2}
.section-level-0 > .item .item-header {background-color: #c0ffa2}

.section-level-1 {background-color: #99deff}
.section-level-1 > .item .item-header {background-color: #99deff}

.section-level-2 {background-color: #e6ccff}
.section-level-2 > .item .item-header {background-color: #e6ccff}

.section-level-3 {background-color: #ffc1c5}
.section-level-3 > .item .item-header {background-color: #ffc1c5}

.action-buttons > span {
    cursor: pointer;
}

#menu-redactor-buttons {
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
