.left-menu-items {
    display: flex;
    flex-direction: column;
}

.left-block-menu a{
    font-size: 16px;
    font-weight: 500;
    font-family: coresansa45regular, Arial, Tahoma, Geneva, sans-serif;
    color: #0f0f0f;
}