.main-wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background-color: #f6f6f6;
}

.menu-wrap {
    background-color: #fff;
}

/* Каторчка для превью статьи */
.article-list {
    display: flex;
    flex-direction: column;

    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 16px;
    line-height: 1.55;
}

.article-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.article-card-image {
    align-self: center;
}

.article-card-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    padding-right: 10px;
}

.article-card-block-top {
    padding-bottom: 10px;
}

.article-card-block-bottom {
    display: flex;
    justify-content: space-between;
    border-top: solid 2px black;
    padding-top: 5px;
}

.article-card-block-top-text-title {
    font-weight: 700;
    padding-bottom: 5px;
    padding-top: 5px;
}

.left-block-menu {
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);

    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 16px;
}

/* Детальная карточка статьи */

.article-detail-view {
    background-color: #fff;
    margin-top: 10px;
    padding: 5px 15px 15px 15px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    font-size: 16px;
}

.article-detail-view-title {
    margin-bottom: 20px;
}

.article-detail-view-title h1 {
    font-size: 32px;
}

.article-detail-view-content {
    margin-bottom: 20px;
}

.article-detail-view-time {
    display: flex;
    justify-content: flex-end;
}

/*Главная страница*/

.main-page-article-link {
    color: #0f0f0f;
    text-decoration: none;
}

.main-page-article-link:hover , .main-page-article-link:focus {
    color: #0f0f0f;
    text-decoration: none;
}

.main-page-article-link:hover > .main-page-article-card {
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.main-page-article-card {
    max-width: 32%;
    min-width: 20%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    margin: 10px 2px;
}

.main-page-article-card-text {
    flex-basis: 65%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-page-article-card-info {
    flex-basis: 35%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 5px;
}

.main-page-article-card-text-title {
    font-weight: 600;
}

.main-page-block .article-list-view {
    width: 100%;
}
